In [1]:
import os
import pandas as pd
import math
from google.cloud import bigquery

In [2]:
PROJECT_ID = "integrated-bit-312717"
DATASET_NAME = 'customs'
TABLE_NAME = "customs"

table_id = "{project_id}.{dataset_name}.{table_name}".format(project_id=PROJECT_ID, dataset_name=DATASET_NAME, 
            table_name=TABLE_NAME)

In [ ]:
client = bigquery.Client(project=PROJECT_ID, location="US")

In [ ]:
client.create_dataset('{dataset_name}'.format(DATASET_NAME))

In [11]:
client.create_table('{project_id}.{dataset_name}.{table_name}'.format(project_id=PROJECT_ID, dataset_name=DATASET_NAME, table_name=TABLE_NAME))

Table(TableReference(DatasetReference('integrated-bit-312717', 'customs'), 'customs'))

In [8]:
ls bucket/merge_dataset_customs/2001/0101.csv

bucket/merge_dataset_customs/2001/0101.csv

In [9]:
df = pd.read_csv('bucket/merge_dataset_customs/2001/0101.csv')
df

,Country,2001-01,2001-02,2001-03,2001-04,2001-05,2001-06,2001-07,2001-08,2001-09,2001-10,2001-11,2001-12
0,CAMBODIA,20000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,MALAYSIA,NaN,310013.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2,AUSTRALIA,NaN,NaN,NaN,1047262.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
3,JAPAN,NaN,NaN,NaN,NaN,NaN,1820.0,0.0,0.0,0.0,0.0,0,0
4,NETHERLANDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,632269.0,0,0
5,PORTUGAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,457359.0,0,0
6,"KOREA,REPUBLIC OF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102758,0

In [16]:
def check_value(value):
    if math.isnan(value):
        return 0
    return value

def tranform_merge_df2jsonBQ(file_path):
    df = pd.read_csv(file_path)
    hs_code = file_path.split('/')[-2]
    datas = []
    for row_id, row in df.iterrows():
        keys = list(row.keys())
        keys.remove('Country')
        datas += [
            {
                'country':row['Country'], 
                'hs_code':hs_code,
                'year_month':key, 
                'value':check_value(row[key])
            } 
        for key in keys]
    return datas

In [17]:
tranform_merge_df2jsonBQ('bucket/merge_dataset_customs/2001/0101.csv')

[{'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-01',
  'value': 20000.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-02',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-03',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-04',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-05',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-06',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-07',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-08',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-09',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-10',
  'value': 0.0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-11',
  'value': 0},
 {'country': 'CAMBODIA',
  'hs_code': '2001',
  'year_month': '2001-12',
  'value': 0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-01',
  'value': 0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-02',
  'value': 310013.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-03',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-04',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-05',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-06',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-07',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-08',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-09',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-10',
  'value': 0.0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-11',
  'value': 0},
 {'country': 'MALAYSIA',
  'hs_code': '2001',
  'year_month': '2001-12',
  'value': 0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-01',
  'value': 0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-02',
  'value': 0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-03',
  'value': 0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-04',
  'value': 1047262.0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-05',
  'value': 0.0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-06',
  'value': 0.0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-07',
  'value': 0.0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-08',
  'value': 0.0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-09',
  'value': 0.0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-10',
  'value': 0.0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-11',
  'value': 0},
 {'country': 'AUSTRALIA',
  'hs_code': '2001',
  'year_month': '2001-12',
  'value': 0},
 {'country': 'JAPAN', 'hs_code': '2001', 'year_month': '2001-01', 'value': 0},
 {'country': 'JAPAN', 'hs_code': '2001', 'year_month': '2001-02', 'value': 0},
 {'country': 'JAPAN', 'hs_code': '2001', 'year_month': '2001-03', 'value': 0},
 {'country': 'JAPAN', 'hs_code': '2001', 'year_month': '2001-04', 'value': 0},
 {'country': 'JAPAN', 'hs_code': '2001', 'year_month': '2001-05', 'value': 0},
 {'country': 'JAPAN',
  'hs_code': '2001',
  'year_month': '2001-06',
  'value': 1820.0},
 {'country': 'JAPAN',
  'hs_code': '2001',
  'year_month': '2001-07',
  'value': 0.0},
 {'country': 'JAPAN',
  'hs_code': '2001',
  'year_month': '2001-08',
  'value': 0.0},
 {'country': 'JAPAN',
  'hs_code': '2001',
  'year_month': '2001-09',
  'value': 0.0},
 {'country': 'JAPAN',
  'hs_code': '2001',
  'year_month': '2001-10',
  'value': 0.0},
 {'country': 'JAPAN', 'hs_code': '2001', 'year_month': '2001-11', 'value': 0},
 {'country': 'JAPAN', 'hs_code': '2001', 'year_month': '2001-12', 'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-01',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-02',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-03',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-04',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-05',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-06',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-07',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-08',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-09',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-10',
  'value': 632269.0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-11',
  'value': 0},
 {'country': 'NETHERLANDS',
  'hs_code': '2001',
  'year_month': '2001-12',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-01',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-02',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-03',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-04',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-05',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-06',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-07',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-08',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-09',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-10',
  'value': 457359.0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-11',
  'value': 0},
 {'country': 'PORTUGAL',
  'hs_code': '2001',
  'year_month': '2001-12',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-01',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-02',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-03',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-04',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-05',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-06',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-07',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-08',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-09',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-10',
  'value': 0},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-11',
  'value': 102758},
 {'country': 'KOREA,REPUBLIC OF',
  'hs_code': '2001',
  'year_month': '2001-12',
  'value': 0}]