In [20]:
from google.cloud import bigquery
import pandas as pd

In [21]:
PROJECT_ID = "<YOUR PROJECT ID>"
DATASET_NAME = '<YOUR DATASET_NAME>'
TABLE_NAME = "<YOUR TABLE_NAME>"

table_id = "{project_id}.{dataset_name}.{table_name}".format(project_id=PROJECT_ID, dataset_name=DATASET_NAME, 
            table_name=TABLE_NAME)
table_id

'integrated-bit-312717.customs.customs_test3'

In [22]:
client = bigquery.Client(project=PROJECT_ID, location="US")

In [23]:
table = client.get_table(table_id)
schema = ["{0} => {1}".format(schema.name,schema.field_type) for schema in table.schema]
schema

['country => STRING',
 'hs_code => STRING',
 'type => STRING',
 'year_month => STRING',
 'value => INTEGER']

In [24]:
query_job = client.query(
    """
        SELECT * from `{TABLE_ID}` LIMIT 1000
    """.format(TABLE_ID=table_id)
)
result = query_job.result()
result

In [25]:
data = [{
    'country':row.country,
    'hs_code':row.hs_code,
    'type':row.type,
    'year_month':row.year_month,
    'value':row.value
} for row in result]

In [26]:
data[::100]

[{'country': 'HONG KONG',
  'hs_code': '2910',
  'type': 'export',
  'year_month': '2020-04',
  'value': 82929},
 {'country': 'BELGIUM',
  'hs_code': '2805',
  'type': 'import',
  'year_month': '2009-02',
  'value': 441},
 {'country': 'SWITZERLAND',
  'hs_code': '2929',
  'type': 'import',
  'year_month': '2011-03',
  'value': 512},
 {'country': 'PAKISTAN',
  'hs_code': '3302',
  'type': 'export',
  'year_month': '2016-04',
  'value': 604261},
 {'country': 'GUAM',
  'hs_code': '2007',
  'type': 'export',
  'year_month': '2001-08',
  'value': 0},
 {'country': 'CANADA',
  'hs_code': '2005',
  'type': 'export',
  'year_month': '2011-03',
  'value': 13839058},
 {'country': 'SLOVAKIA',
  'hs_code': '2106',
  'type': 'export',
  'year_month': '2002-08',
  'value': 0},
 {'country': 'INDONESIA',
  'hs_code': '3707',
  'type': 'export',
  'year_month': '2004-11',
  'value': 6150399},
 {'country': 'FRANCE',
  'hs_code': '2834',
  'type': 'import',
  'year_month': '2009-03',
  'value': 0},
 {'country': 'AUSTRALIA',
  'hs_code': '3507',
  'type': 'import',
  'year_month': '2001-08',
  'value': 0}]

In [27]:
pd.DataFrame(data)

               country hs_code    type year_month   value
0            HONG KONG    2910  export    2020-04   82929
1                JAPAN    3406  export    2004-01  979168
2                CHILE    3209  export    2013-12       0
3                 GUAM    2101  export    2011-06       0
4    BRUNEI DARUSSALAM    2101  export    2006-12   22500
..                 ...     ...     ...        ...     ...
995        NEW ZEALAND    2515  export    2004-10       0
996             POLAND    2004  import    2017-05    9882
997            GERMANY    3210  export    2008-08       0
998           MALDIVES    1902  export    2001-12    2072
999          SWAZILAND    3924  import    2010-10       0

[1000 rows x 5 columns]